<section class="container">
    <table *ngIf="produtos | async as user" class="table">
        <tr>
            <th> ID </th>
            <th> Nome </th>
            <th> Descrição </th>
            <th> Quantidade </th>
            <th> valor </th>
            <th> Ativo </th>
        </tr>
        <tr *ngFor="let p of user">
            <td>{{p.key}}</td>
            <td>{{p.nome}}</td>
            <td>{{p.descricao}}</td>
            <td>{{p.quant}}</td>
            <td>{{p.valor}}</td>
            <td>{{p.ativo}}</td>
            <td (click) = "editar(p)"> <i class="fa fa-edit"></i>
            </td>

            <td (click) = "apagar(p)">  <i class="fa fa-trash"></i>
            </td>

        </tr>
    </table>
</section>
