<section class="container">
    <table *ngIf="produtos | async as user" class="table">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>valor</th>
            <th>Ativo</th>
        </tr>
        <tr *ngFor="let u of user">
            <td>{{u.key}}</td>
            <td>{{u.nome}}</td>
            <td>{{u.descricao}}</td>
            <td>{{u.quant}}</td>
            <td>{{u.valor}}</td>
            <td>{{u.ativo}}</td>
            <td (click) = "editar(p)">/</td>
            <td (click) = "apagar(p)">x</td>

        </tr>
    </table>
</section>
